@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <h2>CIFRADO CESAR</h2>

    Texto Plano:<br>
    <input typTABLEe="text" name="textoPlano"><br>



    <TABLE WIDTH="25%" border="1" height="25%">
        <TD align="center">Texto Cifrado</TD>
        <TR>
            <TD>
                <TABLE>
                    <TR>

                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="0">0</option>
                        </select>
                    </TR>
                    <TR>

                        <TD align="left"><INPUT type="password" name="Resultado" size="35" maxlength="10"></TD>
                    </TR>
                </TABLE>
            </TD>
        </TR>
    </TABLE>

    <TABLE WIDTH="25%" border="1" height="25%">
        <TD align="center">Texto Inverso</TD>
        <TR>
            <TD>
                <TABLE>
                    <TR>

                        <TD align="left"><INPUT type="password" name="Resultado" size="35" maxlength="10"></TD>
                    </TR>
                </TABLE>
            </TD>
        </TR>
    </TABLE>

</div>
